header{
  display:flex;
  justify-content: space-between;
  background-color: rgb(74, 141, 71);
  width: 100vw;
  height:50px;
  font-family: 'IM Fell DW Pica SC', serif;
  position: fixed;
  top:0px;
  z-index: 10;
}
.logout{
  text-decoration: none;
  color:white;
}
.right-content{
  display: flex;
  align-items: center;
  padding-right:20px;
  
}
.left-content{
  width:30%;
  height:100%;
  padding-left:30px;
  display: flex;
  align-items: center;
}


.title-p{
  font-size:40px;
  color:white;
  text-align: center;
}

.user-name{
  color:white;
  padding-right:20px;
  font-size: 20px;
}
.logout{
  color:white;
  font-size:20px;
}
.user-score,
.logout,
.title-p{
  text-decoration: none;
  color:white;
  display:block;
  position:relative;
}
.user-score:hover,
.logout:hover,
.title-p:hover{
  color:rgb(170, 86, 170)
}
.user-score::after,
.logout::after,
.title-p::after{
  content: '';
    /*絶対配置で線の位置を決める*/
    position: absolute;
    bottom: 0;
    left: 10%;
    /*線の形状*/
    width: 80%;
    height: 2px;
    background:red;
    /*アニメーションの指定*/
    transition: all .3s;
    transform: scale(0, 1);/*X方向0、Y方向1*/
    transform-origin: center top;/*上部中央基点*/
}
.logout:hover::after,
.user-score:hover::after,
.title-p:hover::after{
  transform:scale(1,1);
}

/*タブレット表示時*/
@media (max-width: 1024px) {
  .title-p{
    font-size:20px;
  }
  .user-score{
    font-size:10px;
  }
  .logout{
    font-size :10px;
  }
}

@media (max-width:599px){
  .title-p{
    font-size:15px;
  }
  .user-score{
    font-size:5px;
  }
  .logout{
    font-size:5px;
  }
}