header{
  display:flex;
  justify-content: space-between;
  
  width: 100vw;
  height:5vh;
  font-family: 'IM Fell DW Pica SC', serif;
  position: fixed;
  top:0px;
  z-index: 10;
}
.logout{
  text-decoration: none;
  color:white;
}
.right-content{
  display: flex;
  align-items: center;
  padding-right:20px;
  
}
.left-content{
  width:30%;
  height:100%;
  
  
}
.title-p{
  font-size:40px;
  color:white;
  
}
.title{
  margin:0 50px;
  position: relative;
  color:white;
  font-size: 40px;
  height:100%;
  width:30%;
  text-decoration: none;
  min-width: 210px;
  display: inline-block;
  outline:none;
  transition: all .2s;
}
/*hoverした際の変化*/
.title:hover{
  color:#fff;
}

.title span{
    /*絶対配置でテキストの位置を決める*/
	position: absolute;
	left: 50%;
	top:50%;
    transform:translate(-50%,-50%);
    /*アニメーションの指定*/
    transition: all .5s;
  /*ブロック要素にしてテキスト折り返しなし*/  
	display: block;
	white-space: nowrap;
}

/*差し替わるテキストの設定*/
.title span:nth-child(2){
	opacity:0;/*透過0に*/
}

/*hoverするとテキストが入れ替わる設定*/
.title:hover span:nth-child(1){
	opacity:0;/*透過0に*/
}

.title:hover span:nth-child(2){
	opacity:1;/*不透明に*/
}
.user-name{
  color:white;
  padding-right:20px;
  font-size: 20px;
}
.logout{
  color:white;
  font-size:20px;
}
.user-score{
  text-decoration: none;
  color:white;
}