.main-wrapper{
  height: 100vh;
  width: 100vw;
  background-image: image-url("amauri-cruz-filho-kBNV9WpCs5k-unsplash.jpg");
  background-size: 100vw,100vh;
  background-repeat: no-repeat;
  background-position: center 55%;
  display: flex;
  align-items: center;
  
}
.container{
  margin:0 auto;
  width: 1170px;
  
}
.contents{
  
  width:70%;
  margin:0 auto;
}

.top-content{
  text-align: center;
  width:100%;
  margin:50px auto;
  
}
.content{
  position: relative;
    /*ボタンの形状*/
    display: inline-block;
    width:100%;
    max-width: 250px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    outline: none;
}
.content span{
  display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid #333;
    /* 重なりを3Dで表示 */
    transform-style: preserve-3d;
    /* アニメーションの設定 数字が少なくなるほど早く回転 */
    transition: 1s;
}
.score span:nth-child(1){
  background:rgba(54, 194, 54, 0.9);
  color:#000;
  transform:rotateX(0deg);
  transform-origin:0 50% -25px;
}
.score:hover span:nth-child(1){
  transform:rotateX(-90deg);
}
.score span:nth-child(2){
  background:rgba(54, 194, 54, 0.9);
  color:#fff;
  transform:rotateX(90deg);
  transform-origin:0 50% -25px;
}
.score:hover span:nth-child(2){
  transform:rotateX(0deg);
}
.reserve span:nth-child(1){
  background:rgba(41, 82, 196, 0.774);
  color:#000;
  transform:rotateX(0deg);
  transform-origin:0 50% -25px;
}
.reserve:hover span:nth-child(1){
  transform:rotateX(-90deg);
}
.reserve span:nth-child(2){
  background:rgba(41, 82, 196, 0.774);
  color:#fff;
  transform:rotateX(90deg);
  transform-origin:0 50% -25px;
}
.reserve:hover span:nth-child(2){
  transform:rotateX(0deg);
}
.practice span:nth-child(1){
  background:rgba(221, 7, 71, 0.897);
  color:#000;
  transform:rotateX(0deg);
  transform-origin:0 50% -25px;
}
.practice:hover span:nth-child(1){
  transform:rotateX(-90deg);
}
.practice span:nth-child(2){
  background:white;
  color:red;
  transform:rotateX(90deg);
  transform-origin:0 50% -25px;
}
.practice:hover span:nth-child(2){
  transform:rotateX(0deg);
}


.bottom-contents{
  display: flex;
  width:100%;
  justify-content: space-between;
  margin:0 auto;
  
}
.bottom-left{
  width:50%;
  height:100%;
  
  text-align: center;
}
.bottom-right{
  width:50%;
  height:100%;
  text-align: center;
  
}

.reserve{
  background-color:rgba(45, 42, 204, 0.9)
}
.practice{
  background-color:rgba(158, 211, 72, 0.9)
  
}
#splash-new {
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgb(39, 42, 48);
	text-align:center;
	color:#fff;
  display:flex;
  align-items: center;
}
#splash-new-logo{
  
  height:30%;
  width:100%;
  background-image: image-url("twitter_header_photo_2.png");
  background-repeat: no-repeat;
  background-position: center 55%;
}

/*========= 画面遷移のためのCSS ===============*/

body{
  background:  rgb(39, 42, 48);/*遷移アニメーションと同じ色を指定*/
}

body.appear{
    background:#fff;/*画面を開いた後の背景色を指定*/
}

/*画面遷移アニメーション*/
.splashbg1,
.splashbg2{
    display: none;
}

/*bodyにappearクラスがついたら出現*/
body.appear .splashbg1,
body.appear .splashbg2{
	display:block;
}

/*右に消えるエリア*/
body.appear .splashbg1{
	animation-name:PageAnime;
	animation-duration:1.2s;
	animation-timing-function:ease-in-out;
	animation-fill-mode:forwards;
    content: "";
    position:fixed;
	z-index: 999;
    width: 100%;
    height: 100vh;
    top: 0;
	left:50%;
    transform: scaleX(1);
    background: rgb(39, 42, 48);
}

@keyframes PageAnime{
	0% {
		transform-origin:left;
		transform:scaleX(1);
	}
	50% {
		transform-origin:right;
	}
	100% {
		transform-origin:right;
		transform:scaleX(0);
	}
}

/*左に消えるエリア*/
body.appear .splashbg2{
	animation-name:PageAnime2;
	animation-duration:1.2s;
	animation-timing-function:ease-in-out;
	animation-fill-mode:forwards;
    content: "";
    position:fixed;
	z-index: 999;
    width: 100%;
    height: 100vh;
    top: 0;
	right:50%;
    transform: scaleX(1);
    background: rgb(39, 42, 48);
}

@keyframes PageAnime2{
	0% {
		transform-origin:right;
		transform:scaleX(1);
	}

	50% {
		transform-origin:left;
	}
	100% {
		transform-origin:left;
		transform:scaleX(0);
	}
}

/*画面遷移の後現れるコンテンツ設定*/
#new-container{
	opacity: 0;/*はじめは透過0に*/
}

/*bodyにappearクラスがついたら出現*/
body.appear #new-container{
	animation-name:PageAnimeAppear;
	animation-duration:1s;
	animation-delay:0.2s;
	animation-fill-mode:forwards;
	opacity: 0;
}

@keyframes PageAnimeAppear{
	0% {
	opacity: 0;
	}
	100% {
	opacity: 1;
}
}

@media (max-width:1240px){
  .main-wrapper{
    background-image: image-url("domenico-loia-cNBf3ur8vEg-unsplash.jpg");
    background-size: cover;
  }

  
}

@media (max-width:599px){
  
  .contents{
    width:100%;
  }

  .content{
    width:50%;
  }
  .main-wrapper{
    background-image: image-url("andrew-shelley-Yu6Z_Fia1Ls-unsplash.jpg");
    background-size: cover;
    
  }

  .bottom-contents{
    flex-direction: column;
  }

  .bottom-left{
    margin:0 auto;
    width:100%;
  }

  .bottom-right{
    margin:0 auto;
    width:100%;
  }
  
  .content{
    width:500px;
  }

  .reserve{
    margin-bottom:50px;
  }
}