.main-wrapper{
  height: 100vh;
  width: 100vw;
  background-image: image-url("amauri-cruz-filho-kBNV9WpCs5k-unsplash.jpg");
  background-size: 100vw,100vh;
  background-repeat: no-repeat;
  background-position: center 55%;
  display: flex;
  align-items: center;
  
}
.container{
  margin:0 auto;
  width: 1170px;
  
}
.contents{
  
  width:70%;
  margin:0 auto;
}

.top-content{
  text-align: center;
  width:30vw;
  margin:50px auto;
  
}
.content{
  border-radius: 30px;
  font-size:30px;
  
  display: block;
  text-decoration: none;
  color:white;
  padding:50px 100px;
  
}
.bottom-contents{
  display: flex;
  width:100%;
  justify-content: space-between;
  margin:0 auto;
  
}
.score{
  background-color:rgba(163, 18, 78, 0.9);
}
.reserve{
  background-color:rgba(45, 42, 204, 0.9)
}
.practice{
  background-color:rgba(158, 211, 72, 0.9)
  
}