
  <div class="new-scores">
    <div class="course-names">
      <div class="score-modal">
        <%= link_to "利用上の注意","#info" ,class:"modal-open"%>
      </div>
      
      <div class="form-title" id="list">
        <% if @error == nil%>
          <h1 class="course-name">ゴルフ場名入力画面</h1>
        <% else %>
          <h1 class="error-message"><%= @error %></h1>
        <% end %>
      </div>
      <%= render partial: "score_form", locals:{score:@score}%>
    </div>
  </div>
  

<!--表示エリアのHTML。id 名にリンク先と同じ名前を指定します。※表示エリアはHTML の変更が可能なので、レイアウトを自由に変更できます。-->
<section id="info">
<h2>-利用上の注意-</h2>
<p>スコア記入の前にこのページを離れると入力したデータが正しく保存されません！ </p>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Modaal/0.4.4/js/modaal.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
<script>//初回のみモーダルをすぐ出す判定。flagがモーダル表示のstart_open後に代入される
	var access = $.cookie('access')
	if(!access){
		flag = true;
		$.cookie('access', false);
	}else{
		flag = false	
	}
	
	//モーダル表示
	$(".modal-open").modaal({
	start_open:flag, // ページロード時に表示するか
	overlay_close:true,//モーダル背景クリック時に閉じるか
	before_open:function(){// モーダルが開く前に行う動作
		$('html').css('overflow-y','hidden');/*縦スクロールバーを出さない*/
	},
	after_close:function(){// モーダルが閉じた後に行う動作
		$('html').css('overflow-y','scroll');/*縦スクロールバーを出す*/
	}
	});
  </script>

