
  <div class="new-scores">
    <div class="course-names">
      <div class="form-title" id="list">
        <% if @error == nil%>
          <h1 class="course-name">ゴルフ場名入力画面</h1>
        <% else %>
          <h1 class="error-message"><%= @error %></h1>
        <% end %>
      </div>
      <%= render partial: "score_form", locals:{score:@score}%>
    </div>
  </div>

