

<div id="splash-new">
  <div id="splash-new-logo"></div>
</div>
<div class="splashbg1"></div>
<div class="splashbg2"></div>

<div id="new-container">
  <div class="main-wrapper">
    <div class="container">
      <div class="contents">
        <div class="top-content">
          <%= link_to new_score_path, class:"content score" do%>
            <span>スコア</span><span>Let's Golf</span>
          <% end %>
        </div>
      </div>
      <div class="bottom-contents">
        <div class="bottom-left">
          <%= link_to "https://reserve.golfdigest.co.jp/",class:"content reserve" do%>
            <span>GDOで予約</span><span>GDO</span>
          <% end %>
        </div>
        <div class="bottom-right">
          <%= link_to video_path(current_user.id),class:"content practice" do%>
            <span>練習動画</span><span><%= fa_icon "youtube-square 3x" %>YouTube</span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
alert('test');
</script>


