.practice-form{
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  height: 80%;
}
.practice-new-wrapper{
  width:90%;
  height:50%;
  background-color: rgb(235, 233, 231);
  margin:0 auto;
  margin-top:30px;
}
.video-new{
  
  width: 90%;
  height:70%;
  margin:0 auto;
}
.title-wrapper{
  
  height:50%;
  width: 50%;
}
.youtube-wrapper{
  width:50%;
  height: 50%;
}
.title-form{
  width: 90%;
  height:30%;
  padding:20px;
  font-size: 20px;
  border:none;
  
}
.youtube-form{
  width:90%;
  height:30%;
  padding:20px;
  font-size: 20px;
}
.practice-form-wrapper{
  
  height:80%;
}
.practice-submit{
  background-color: rgb(255, 81, 0);
  width:30%;
  height: 100%;
  font-size:30px;
  padding-bottom:5px;
  border-radius: 10px;
  
}
.submit-wrapper{
  
  text-align: center;
  height:20%;
}
.practice-message{
  font-size:30px;
  color:rgb(255, 81, 0);
  text-align:center;
}
.practice-error-message{
  font-size:30px;
  text-align: center;
}
@media (max-width:1024px){
  .title-form{
    font-size:15px;
  }
  .youtube-form{
    font-size:15px;
  }
  
  .practice-submit{
    width:50%;
  }
}
@media (max-width:599px){
  .practice-form{
    flex-direction: column;
    text-align:center;
  }
  .title-wrapper,.youtube-wrapper{
    font-size: 10px;
    width:100%;
    
  }
  .title-form,.youtube-form{
    font-size: 10px;
    width:70%;
  }
  .practice-submit{
    font-size:15px;
    padding:10px 0;
  }
  .video-new{
    margin-top:10px;
    
  }
  .submit-wrapper{
    margin-top:10px;
  }
}