.practice-wrappers{
  height: 100vh;
  width:100vw;
  background-image: image-url("donovan-silva-ygUPa_SaXKw-unsplash.jpg");
  background-size: 100vw,100vh;
  background-repeat: no-repeat;
  background-position: center 55%;
  display: flex;
  align-items: center;
}
.practice-wrapper{
  width:90%;
  height:90%;
  background-color: rgb(235, 233, 231);
  margin:0 auto;
  margin-top:30px;
}
.practice-top{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width:100%;
  height:10%;
  
}
.practice-title{
  font-size: 50px;
}
.video-link{
  font-size:30px;
  position:relative;
    /*リンクの形状*/ 
	color:#333;
    padding: 10px 50px 10px 30px;
	display:inline-block;
    text-decoration: none;
    outline: none;
}
.video-link::before,
.video-link::after{
	content:'';
    /*絶対配置で線の位置を決める*/
	position:absolute;
	z-index:1;
	bottom:0;
	left:0;
     /*線の形状*/   
	background:#333;
	width:100%;
	height:3px;
    /*アニメーションの指定*/
	transition:all 0.3s ease-in-out;
}

 /*hover時に伸びる線の形状*/   
.video-link::after{
	width:0;
	background:rgb(156, 53, 53);
}

 /*hover時に100%に伸びる*/   
.video-link:hover::after {
	width:100%;
}

 /*矢印の設定*/   
.video-link span::after {
    content: '';
    /*絶対配置で矢印の位置を決める*/
    position: absolute;
    top: 1.3em;
    right: 20px;
    /*矢印の形状*/   
    width: 5px;
    height: 5px;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    transform: rotate(45deg);
    /*アニメーションの指定*/
    transition: all .3s;
}

/*hover時に矢印が移動*/   
.video-link:hover span::after {
	right:15px;
}
.practice-movie-lists{
  width:90%;
  height:90%;
  
  margin:0 auto;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
}
.practice-movie-list{
  height:50%;
  width:50%;
  margin:0 auto;
  margin-bottom: 40px;
}
.practice-movie-theme{
  display:flex;
  
}
.movie-title{
  font-size:30px;
}

.movie{
  text-align: center;
  width:100%;
  height:100%;
  
}
.movie-delete{
  
  text-align: right;
  width:90%;
  margin:0 auto;
}
.movie-delete-link{
  /*線の基点とするためrelativeを指定*/
position:relative;
  /*ボタンの形状*/  
color:#333;
  padding: 10px 30px;
display:inline-block;
  text-decoration: none;
  outline: none;
}

/*線の設定*/
.movie-delete-link::before,
.movie-delete-link::after {
content:'';
  /*絶対配置で線の位置を決める*/
position:absolute;
  /*事前に出現させる線の形状*/
border:solid #333;
width:10px;
height:10px;
  /*アニメーションの指定*/
transition:all 0.3s ease-in-out;
}

.movie-delete-link::before{
  /*事前に出現させる線の位置*/
top:0;
left:0;
  /*事前に出現させる線の形状*/
border-width:2px 0 0 2px;
}

.movie-delete-link::after{
  /*事前に出現させる線の位置*/
bottom:0;
right:0;
  /*事前に出現させる線の形状*/
border-width:0 2px 2px 0;
}

/*hoverした際の線の形状*/
.movie-delete-link:hover::before,
.movie-delete-link:hover::after{
width:calc(100% - 2px);
height:calc(100% - 2px);
border-color:#666
}

.youtube{
  width:560px;
  height:315px;
}
@media (max-width:1024px){
  .practice-wrappers{
    background-size:cover;
  }
  
  .practice-movie-list{
    width:100%;
    margin-bottom:50px;
    
  }
  .practice-title{
    font-size:30px;
  }
}

@media (max-width:599px){
  .practice-title{
    font-size:20px;
  }

  .video-link{
    font-size:20px;
    padding:5px 25px 5px 15px;
  }

  .movie-title{
    font-size:15px;
  }
  
  .youtube{
    width:400px;
    height:210px;
  }
}