.detail-wrapper{
  height:100vh;
  width:100vw;
  background-image: image-url("edewaa-foster-V2xlPVSnMYA-unsplash.jpg");
  background-size: 100vw,100vh;
  background-repeat: no-repeat;
  background-position: center 55%;
  display: flex;
  align-items: center;
  font-family: 'M PLUS 1p';
}
.detail-container{
  height: 80%;
  width:80%;
  background-color: rgba(255, 255, 255, 0.8);
  margin:0 auto;
}

.detail-top{
  display: flex;
  justify-content: space-around;
  font-size: 30px;
  padding-top:10px;
}
.detail-edit{
  position: relative;
    /*リンクの形状*/
	display:inline-block;
    text-decoration: none;
    color: rgb(207, 151, 86);
    outline: none;
}
.detail-edit:hover::before {
  content: '';
  /*絶対配置で波形の位置を決める*/
  position: absolute;
  left:30%;
  top:0;
  /*波形の形状*/
  border: 1px solid rgb(207, 151, 86);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  /*はじめは不透明*/
opacity:1;
  /*アニメーションの設定*/
  animation:1s circleanime2 forwards;
}

/*波形が広がるアニメーション*/
@keyframes circleanime2{
0%{
  transform: scale(0);
}
100%{
  transform:scale(2);
  opacity: 0;
}
}

/*矢印の設定*/
.detail-edit::after {
  content: '';
  /*絶対配置で矢印の位置を決める*/
  position: absolute;
  top: 30%;
  right: -20px;
  /*矢印の形状*/
  width: 5px;
  height: 5px;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  transform: rotate(45deg);
}
.detail-score{
  font-size:50px;
  width:100%;
  height:60%;
  display: flex;
  
  margin-bottom:20px;
  
}
.in-score-detail{
  
  width:50%;
  height:90%;
  overflow: scroll;
}
.out-score-detail{
  
  width:50%;
  height:90%;
  overflow: scroll;
}
.in-hole{
  display: flex;
  justify-content: space-around;
  
  padding:50px 20px;
}
.out-hole{
  display: flex;
  justify-content: space-around;
  
  padding:50px 20px;
}
.my-memo{
  
  height:20%;
  padding:0 30px;
  overflow: scroll;
}
.round-memo{
  font-size:20px;
}
.memo-display{
  font-size:20px;
  height:70%;
  padding:0 10px;
  border:5px solid rgb(255, 174, 0);
  
}

@media (max-width:1024px){
  .detail-wrapper{
    background-size:cover;
  }
  .detail-title,.detail-edit{
    font-size:20px
  }
}

@media (max-width:599px){
  .detail-wrapper{
    background-image:image-url("juan-gomez-uBqykD-ejsY-unsplash.jpg")
  }
  .in-hole,.out-hole{
    flex-direction: column;
    text-align:center;
  }
  .detail-title,.detail-edit{
    font-size:10px;
  }
  
 
}