.my-wrapper{
  background-image: image-url("amauri-cruz-filho-kBNV9WpCs5k-unsplash.jpg");
  background-size: 100vw,100vh;
  background-repeat: no-repeat;
  background-position: center 55%;
  height: 100vh;
  width:100vw;
  padding-top:100px;
  display: flex;
  justify-content: center;
  
}

.list-wrapper{
  height:90%;
  width:70%;
  background-color: white;
  padding-top:3%;
  
}
.list-score{
  height:50%;
  overflow: scroll;
}
.list-user{
  text-align: center;
  padding:50px;
  font-size: 40px;
}
.score-list{
  display: flex;
  justify-content: space-between;
  width:90%;
  margin:0 auto;
  margin-bottom:60px;
  font-size:25px;
  border-bottom: 5px solid red;
  
}
.golf-course-name{
  text-align: center;
  color:black;
  width: 40%;
}
.users-score{
  width:20%;
  text-align: center;
  color:black;
}
.play-day{
  width:30%;
  text-align: center;
  color:black;
}
.score-detail{
  text-decoration: none;
}
.score-chart{
  width:90%;
  margin:0 auto;
  
}
.chart{
  margin:0 auto;
  width:"90%";
  height:"30%";
}

@media (max-width:1024px){
  .my-wrapper{
    background-image:image-url("al-bennett-M8488pGecoo-unsplash.jpg");
    background-size:cover;
  }
  .golf-course-name,.users-score,.play-day{
    font-size:15px;
  }
}

@media (max-width:599px){
  .golf-course-name,.users-score,.play-day{
    font-size: 10px;
  }
}